%h1 Entries#index
%table
  %thead
    %tr
      %th Title
      %th Body
      %th &nbsp;
      %th &nbsp;
      %th &nbsp;
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.title
        %td= entry.body
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, method: :delete, data: {confirm: 'are you delete?'}
%nav.links
  %ul
    %li= link_to 'New', new_entry_path
